<document>
  <stackTemplate>
    <banner>
      <title>Témata</title>
    </banner>
    <collectionList>
      <grid>
        <section>
          {{#each topics }}
          <lockup data-href-page="topic" data-href-page-options="{{toJSON this }}">
            <img src="{{ attributes.asset.url }}" width="300" height="300" />
            <overlay>
              <title>{{ attributes.title }}</title>
            </overlay>
          </lockup>
          {{/each}}
        </section>
      </grid>
    </collectionList>
  </stackTemplate>
</document>
