<document>
  <catalogTemplate>
    <list>
      <section>
        {{#each topics }}
        <listItemLockup id="{{ id }}">
          <title>{{ title }}</title>
          <relatedContent>
            <grid>
            </grid>
          </relatedContent>
        </listItemLockup>
        {{/each}}
      </section>
    </list>
  </catalogTemplate>
</document>
