<document>
  <alertTemplate>
    <title>{{ episode.attributes.title }}</title>
    <description>{{removeHTML episode.attributes.description }}</description>
    <button id="add-btn">
      <text>Přidat do fronty</text>
    </button>
    <button id="watched-btn">
      <text>Slyšeno</text>
    </button>
    <button id="unwatched-btn">
      <text>Neslýcháno</text>
    </button>
  </alertTemplate>
</document>
