<document>
  <descriptiveAlertTemplate>
    <title>{{title}}</title>
    <description>{{removeHTML text}}</description>
    <button id="dismiss-btn">
      <text>Zpět</text>
    </button>
  </descriptiveAlertTemplate>
</document>
